*{
    background-image: url('background.png');
}
.heading{
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}
.subheading{
    font-size: 25px;
    text-align: center;
    padding-bottom: 20px;
    color: rgb(255, 7, 7);
    font-weight: lighter;
}
.box{
    background-color: rgba(77, 165, 224, 0.29);
    height: 900px;
    width: 600px;
    justify-content: center;
    margin-left: 35rem;
    border-radius: 30px;
    border: 2px solid black;

}
.data{
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
    color: rgb(92, 26, 26);
    font-weight: bolder;
}

form{
    text-align: center;
    padding-bottom: 30px;
    font-size: 25px;
}

input{
    height: 35px;
    width: 400px;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
    border: 2px solid black;
}
#submit{
    height: 40px;
    width: 150px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    background-color: rgb(255, 0, 0);
    color: white;
    border: none;
    cursor: pointer;
}
#submit:hover{
    background-color: rgb(229, 55, 55);
    color: rgb(34, 32, 32);
    cursor: pointer;
    transform: scale(1.25);
    
}
.campaign-box {
  background-color: white;
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Title inside box */
.campaign-box h2 {
  color: darkred;
  margin-top: 10px;
}

/* Logo/Image */
.logo {
  width: 60px;
  height: 60px;
  float: left;
  margin-right: 15px;
}

/* Paragraph spacing */
.campaign-box p {
  margin: 6px 0;
}
body {
    background-image: url("receiverbackground.png");
    background-size: cover;
}









